# git ignore file
/locator/obj
/locator/bin
/interfaces/bin
/interfaces/obj
/test.locator/bin
/test.locator/obj
/testassembly/bin
/testassembly/obj
/locator/TestResults
*.suo
TestResults
_NCrunch_dependency-locator/
locator/StyleCop.Cache
output/
*.gpState
*.testsettings
*.*~*
coverage-report/
*TestReport.xml
*.Coverage.xml
