<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="dependencyInjector">
      <section
        name="dependencyConfiguration"
        type="DependencyLocation.Configuration.DependencyConfiguration, DependencyLocator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>
  
  <dependencyInjector>
    <dependencyConfiguration defaultKey="testDefault">
      <dependencies>
        <add assemblyName="TestAssembly, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" namedInstancePrefix="testPrefix" />
      </dependencies>
    </dependencyConfiguration>
  </dependencyInjector>
</configuration>